body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#output {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 20%;
    width: 100%;
    font-size: 10vw;
}

#wheel {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20%;
    width: 100%;
    height: 0;
    font-size: 50vh;
}
.running #wheel{
    display: flex;
    height: 50%;
}

#inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    position: absolute;
    top: 20%;
    width: 100%;
    height: 60%;
}

#inputs div {
    text-align: center;
    height: 13vh;
    font-size: 3vh;
}

#inputs div input[type=number] {
    height: 7vh;
    text-align: center;
    font-size: 5vh;
    color: lightgray;
    background-color: #222;
    border: 0;
    width: 100vw;
}


.running #inputs {
    display: none;
}

#run {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 80%;
    width: 100%;
    height: 20%;
    font-size: 19vh;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: 3px;
}

.running #run {
    height: 30%;
    top: 70%;
    font-size: 25vh;
}

/* Theming */
body {
    background-color: black;
    color: lightcyan;
}

#run {
    border-color: gray;
    color: lightcyan;
    background-color: #444;
}

#run:hover {
    color: #ccc;
    background-color: #222;
}

.running #run {
    background-color: #000;
}

.running #run:hover {
    color: white;
    background-color: #000;
}

.colorToggle {
    color: lightgray;
}